/* Style the label elements */
* {
  overflow: hidden;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  /* width: 2%; */
}

input[type='radio'] {
  position: absolute;
  left: -9999px;
  /* color: #ffffff; */
  border: none;
}

.part1 {
  display: flex;
  justify-content: space-between;
}

label:hover {
  background-color: #f2f2f2;
}

/* label:checked {
        
        background-color: #4caf50;
        /* color: #fff; */
/* border-color: #4caf50; */

.slider {
  position: absolute;
  left: 41%;
  top: 17.5%;
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  border-radius: 50%;
  z-index: 100000;
  transition: left 0.2s;

}

/* Animate the selected label */
/* @keyframes selected {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
    } */

#input2:checked ~.slider {
  left: 45%;
}

@keyframes shift {

  from,
  to {
    left: 45%;
  }

}