* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(190, 189, 189, 0.562);
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */


}
.part1{
  width: 48vw;
  height: 48vh;
  padding: 0px 5px 0px 12px;
  background-color: aliceblue;
  border-radius: 12px;
  /* background-color: blue; */
}
