* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:#4154f1;
  color: #fff;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 2em;
}
form {
  width: 90%;
}
h1 {
  text-align: center;
  margin: 20px 0px;
  font-family: verdana;
  font-weight: 100;
}
#radios {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
input[type="radio"] {
  position: absolute;
  right: 1000%;
}
label {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 2.5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
#slider,
#slider2,
#slider3,
#slider4,
#slider5,
#slider6 {
  position: absolute;
  left: 12.2%;
  top: -26%;
  width: 30px;
  height: 30px;
  /* padding-bottom: 10%; */
  margin: 2.5% 0 0 5%;
  background: #fff;
  transition: transform 1s;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left 0.05s ease-in-out;
}
#input1:checked ~ #slider,
#input6:checked ~ #slider2,
#input11:checked ~ #slider3,
#input16:checked ~ #slider4,
#input21:checked ~ #slider5,
#input26:checked ~ #slider6 {
  animation-name: input1;
  left: 12.2%;
}
#input2:checked ~ #slider,
#input7:checked ~ #slider2,
#input12:checked ~ #slider3,
#input17:checked ~ #slider4,
#input22:checked ~ #slider5,
#input27:checked ~ #slider6 {
  animation-name: input2;
  left: 22.2%;
}
#input3:checked ~ #slider,
#input8:checked ~ #slider2,
#input13:checked ~ #slider3,
#input18:checked ~ #slider4,
#input23:checked ~ #slider5,
#input28:checked ~ #slider6 {
  animation-name: input3;
  left: 32.1%;
}
#input4:checked ~ #slider,
#input9:checked ~ #slider2,
#input14:checked ~ #slider3,
#input19:checked ~ #slider4,
#input24:checked ~ #slider5,
#input29:checked ~ #slider6 {
  animation-name: input4;
  left: 42%;
}
#input5:checked ~ #slider,
#input10:checked ~ #slider2,
#input15:checked ~ #slider3,
#input20:checked ~ #slider4,
#input25:checked ~ #slider5,
#input30:checked ~ #slider6 {
  animation-name: input5;
  left: 51.9%;
}
#input51:checked ~ #slider,
#input101:checked ~ #slider2,
#input151:checked ~ #slider3,
#input201:checked ~ #slider4,
#input251:checked ~ #slider5,
#input301:checked ~ #slider6 {
  animation-name: input5;
  left: 61.8%;
}
#input52:checked ~ #slider,
#input102:checked ~ #slider2,
#input152:checked ~ #slider3,
#input202:checked ~ #slider4,
#input252:checked ~ #slider5,
#input302:checked ~ #slider6 {
  animation-name: input5;
  left: 71.5%;
}

@keyframes input1 {
  30%,
  70% {
    transform: scale(0.5);
  }
}
@keyframes input2 {
  30%,
  70% {
    transform: scale(0.5);
  }
}
@keyframes input3 {
  30%,
  70% {
    transform: scale(0.5);
  }
}
@keyframes input4 {
  30%,
  70% {
    transform: scale(0.5);
  }
}
@keyframes input5 {
  30%,
  70% {
    transform: scale(0.5);
  }
}

.btn{
  margin: 20px auto;
  padding: 25px 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
