body {
	background-color:#4154f1;
;
  }
  .card {
	background-color: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn-primary {
	background-color: #4154f1;
;
	border: none;
  }
  .btn-primary:hover {
	background-color: #012970;
	color: #fff;
  }
  #twitterIdOutput {
	display: none;
  }
  .output-text {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
  }