<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
</head>

<body>
    <form action="" method="GET">
        <h1>{{questions[0]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input1"></label>
            <input id="input1" name="radio1" value=3 type="radio" />
            <label for="input2"></label>
            <input id="input2" name="radio1" value=2 type="radio" />
            <label for="input3"></label>
            <input id="input3" name="radio1" value=1 type="radio" />
            <label for="input4"></label>
            <input id="input4" name="radio1" value=0 type="radio" checked="checked" />
            <label for="input5"></label>
            <input id="input5" name="radio1" value=-1 type="radio" />
            <label for="input51"></label>
            <input id="input51" name="radio1" value=-2 type="radio" />
            <label for="input52"></label>
            <input id="input52" name="radio1" value=-3 type="radio" />
            <span id="slider"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>{{questions[1]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input6"></label>
            <input id="input6" name="radio2" value=3 type="radio" />
            <label for="input7"></label>
            <input id="input7" name="radio2" value=2 type="radio" />
            <label for="input8"></label>
            <input id="input8" name="radio2" value=1 type="radio" />
            <label for="input9"></label>
            <input id="input9" name="radio2" value=0 type="radio" checked="checked"/>
            <label for="input10"></label>
            <input id="input10" name="radio2" value=-1 type="radio" />
            <label for="input101"></label>
            <input id="input101" name="radio2" value=-2 type="radio" />
            <label for="input102"></label>
            <input id="input102" name="radio2" value=-3 type="radio" />
            <span id="slider2"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>{{questions[2]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input11"></label>
            <input id="input11" name="radio3" value=3 type="radio" />
            <label for="input12"></label>
            <input id="input12" name="radio3" value=2 type="radio" />
            <label for="input13"></label>
            <input id="input13" name="radio3" value=1 type="radio" />
            <label for="input14"></label>
            <input id="input14" name="radio3" value=0 type="radio" checked="checked"/>
            <label for="input15"></label>
            <input id="input15" name="radio3" value=-1 type="radio" />
            <label for="input151"></label>
            <input id="input151" name="radio3" value=-2 type="radio" />
            <label for="input152"></label>
            <input id="input152" name="radio3" value=-3 type="radio" />
            <span id="slider3"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>{{questions[3]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input16"></label>
            <input id="input16" name="radio4" value=3 type="radio" />
            <label for="input17"></label>
            <input id="input17" name="radio4" value=2 type="radio" />
            <label for="input18"></label>
            <input id="input18" name="radio4" value=1 type="radio" />
            <label for="input19"></label>
            <input id="input19" name="radio4" value=0 type="radio" checked="checked"/>
            <label for="input20"></label>
            <input id="input20" name="radio4" value=-1 type="radio" />
            <label for="input201"></label>
            <input id="input201" name="radio4" value=-2 type="radio" />
            <label for="input202"></label>
            <input id="input202" name="radio4" value=-3 type="radio" />
            <span id="slider4"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>{{questions[4]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input21"></label>
            <input id="input21" name="radio5" value=3 type="radio" />
            <label for="input22"></label>
            <input id="input22" name="radio5" value=2 type="radio" />
            <label for="input23"></label>
            <input id="input23" name="radio5" value=1 type="radio" />
            <label for="input24"></label>
            <input id="input24" name="radio5" value=0 type="radio" checked="checked"/>
            <label for="input25"></label>
            <input id="input25" name="radio5" value=-1 type="radio" />
            <label for="input251"></label>
            <input id="input251" name="radio5" value=-2 type="radio" />
            <label for="input252"></label>
            <input id="input252" name="radio5" value=-3 type="radio" />
            <span id="slider5"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>{{questions[5]}}</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input26"></label>
            <input id="input26" name="radio6" value=3 type="radio" />
            <label for="input27"></label>
            <input id="input27" name="radio6" value=2 type="radio" />
            <label for="input28"></label>
            <input id="input28" name="radio6" value=1  type="radio" />
            <label for="input29"></label>
            <input id="input29" name="radio6" value=0 type="radio" checked="checked"/>
            <label for="input30"></label>
            <input id="input30" name="radio6" value=-1 type="radio" />
            <label for="input301"></label>
            <input id="input301" name="radio6" value=-2 type="radio" />
            <label for="input302"></label>
            <input id="input302" name="radio6" value=-3 type="radio" />
            <span id="slider6"></span>
            <p>
                DisAgree
            </p>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>




</body>

</html>