<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
</head>

<body>
    <form action="">
        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input1"></label>
            <input id="input1" name="radio" type="radio" />
            <label for="input2"></label>
            <input id="input2" name="radio" type="radio" />
            <label for="input3"></label>
            <input id="input3" name="radio" type="radio" />
            <label for="input4"></label>
            <input id="input4" name="radio" type="radio" />
            <label for="input5"></label>
            <input id="input5" name="radio" type="radio" />
            <span id="slider"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input6"></label>
            <input id="input6" name="radio2" type="radio" />
            <label for="input7"></label>
            <input id="input7" name="radio2" type="radio" />
            <label for="input8"></label>
            <input id="input8" name="radio2" type="radio" />
            <label for="input9"></label>
            <input id="input9" name="radio2" type="radio" />
            <label for="input10"></label>
            <input id="input10" name="radio2" type="radio" />
            <span id="slider2"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input11"></label>
            <input id="input11" name="radio3" type="radio" />
            <label for="input12"></label>
            <input id="input12" name="radio3" type="radio" />
            <label for="input13"></label>
            <input id="input13" name="radio3" type="radio" />
            <label for="input14"></label>
            <input id="input14" name="radio3" type="radio" />
            <label for="input15"></label>
            <input id="input15" name="radio3" type="radio" />
            <span id="slider3"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input16"></label>
            <input id="input16" name="radio4" type="radio" />
            <label for="input17"></label>
            <input id="input17" name="radio4" type="radio" />
            <label for="input18"></label>
            <input id="input18" name="radio4" type="radio" />
            <label for="input19"></label>
            <input id="input19" name="radio4" type="radio" />
            <label for="input20"></label>
            <input id="input20" name="radio4" type="radio" />
            <span id="slider4"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input21"></label>
            <input id="input21" name="radio5" type="radio" />
            <label for="input22"></label>
            <input id="input22" name="radio5" type="radio" />
            <label for="input23"></label>
            <input id="input23" name="radio5" type="radio" />
            <label for="input24"></label>
            <input id="input24" name="radio5" type="radio" />
            <label for="input25"></label>
            <input id="input25" name="radio5" type="radio" />
            <span id="slider5"></span>
            <p>
                DisAgree
            </p>
        </div>

        <h1>Select one:</h1>
        <div id="radios">
            <p>Agree</p>
            <label for="input26"></label>
            <input id="input26" name="radio6" type="radio" />
            <label for="input27"></label>
            <input id="input27" name="radio6" type="radio" />
            <label for="input28"></label>
            <input id="input28" name="radio6" type="radio" />
            <label for="input29"></label>
            <input id="input29" name="radio6" type="radio" />
            <label for="input30"></label>
            <input id="input30" name="radio6" type="radio" />
            <span id="slider6"></span>
            <p>
                DisAgree
            </p>
        </div>
    </form>




</body>

</html>