<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
</head>

<body>
   <div class="heading">
    <form action="/takeAtest" method="POST"></form>
    Answer the following<br>
    Question to know your<br>
    Personality
   </div>
    <div class="ques">
        <form class="set1">
            <div class="Q">Here will be the Question</div>
            <div id="radios1">
                <label for="input1"></label>
                <input id="input1" name="radio" type="radio" />
                <label for="input2"></label>
                <input id="input2" name="radio" type="radio" />
                <label for="input3"></label>
                <input id="input3" name="radio" type="radio" />
                <label for="input4"></label>
                <input id="input4" name="radio" type="radio" />
                <label for="input5"></label>
                <input id="input5" name="radio" type="radio" />
                <span id="slider1"></span>
            </div>
        </form>
        <form class="set2">
            <div class="Q">Here will be the Question</div>
            <div id="radios2">
                <label for="input6"></label>
                <input id="input6" name="radio" type="radio" />
                <label for="input7"></label>
                <input id="input7" name="radio" type="radio" />
                <label for="input8"></label>
                <input id="input8" name="radio" type="radio" />
                <label for="input9"></label>
                <input id="input9" name="radio" type="radio" />
                <label for="input10"></label>
                <input id="input10" name="radio" type="radio" />
                <span id="slider2"></span>
            </div>
        </form>
        <form class="set3">
            <div class="Q">Here will be the Question</div>
            <div id="radios3">
                <label for="input11"></label>
                <input id="input11" name="radio" type="radio" />
                <label for="input12"></label>
                <input id="input12" name="radio" type="radio" />
                <label for="input13"></label>
                <input id="input13" name="radio" type="radio" />
                <label for="input14"></label>
                <input id="input14" name="radio" type="radio" />
                <label for="input15"></label>
                <input id="input15" name="radio" type="radio" />

                <span id="slider3"></span>
            </div>
        </form>

    </div>



</body>

</html>