<!DOCTYPE html>
<html>

<head>
    <title>MCQ Example</title>
    <link rel="stylesheet" href="/static/css/question.css">
</head>

<body>
    <form>
        {% for question in questions %}        
            <p>{{question}}</p>
            <div class="part1">
            <label><input type="radio" name="q3" value="3"></label><br>
            <label><input type="radio" name="q3" value="2"></label><br>
            <label><input type="radio" name="q3" value="1"></label><br>
            <label><input type="radio" name="q3" value="0"></label><br>
            <label><input type="radio" name="q3" value="-1"></label><br>
            <label><input type="radio" name="q3" value="-2"></label><br>
            <label><input type="radio" name="q3" value="-3"></label><br>
        </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>