<!DOCTYPE html>
<html>

<head>
    <title>MCQ Example</title>
    <link rel="stylesheet" href="question.css">
</head>

<body>
    <form>
        <h2>Question 1:</h2>
        <p>What is the capital of France?</p>
        <div class="part1">
            <label><input type="radio" name="q1" value="a"></label><br>
            <label><input type="radio" name="q1" value="b"></label><br>
            <label><input type="radio" name="q1" value="c"></label><br>
        </div>


        <h2>Question 2:</h2>
        <p>What is the largest ocean on Earth?</p>
        <div class="part1">
        <label><input type="radio" name="q2" value="a"></label><br>
        <label><input type="radio" name="q2" value="b"></label><br>
        <label><input type="radio" name="q2" value="c"></label><br>
    </div>

        <h2>Question 3:</h2>
        <p>What is the smallest planet in our solar system?</p>
        <div class="part1">
        <label><input type="radio" name="q3" value="a"></label><br>
        <label><input type="radio" name="q3" value="b"></label><br>
        <label><input type="radio" name="q3" value="c"></label><br>
    </div>

        <h2>Question 4:</h2>
        <p>Who wrote the novel "1984"?</p>
        <div class="part1">
        <label><input type="radio" name="q4" value="a"></label><br>
        <label><input type="radio" name="q4" value="b"></label><br>
        <label><input type="radio" name="q4" value="c"></label><br>
    </div>

        <h2>Question 5:</h2>
        <p>What is the name of the longest river in Africa?</p>
        <div class="part1">
        <label><input type="radio" name="q5" value="a"></label><br>
        <label><input type="radio" name="q5" value="b"></label><br>
        <label><input type="radio" name="q5" value="c"></label><br>
    </div>

        <h2>Question 6:</h2>
        <p>Who painted the Mona Lisa?</p>
        <div class="part1">
        <label><input type="radio" name="q6" value="a"></label><br>
        <label><input type="radio" name="q6" value="b"></label><br>
        <label><input type="radio" name="q6" value="c"></label><br>
    </div>

        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>