<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/result2.css')}}">
</head>

<body>
    <div class="main">
        <div class="blog" id="q"></div>
        <div class="your">
            <p>
                Your presonality is
            </p>
        </div>
        <div class="main_personality">
            <p>{{type}}<br>
            <!-- add if else statment here for appropiate output -->
            {{fullForm[0]}}, {{fullForm[1]}}, {{fullForm[2]}}, {{fullForm[3]}}
        </p>
        </div>
        <div class="strenght">
            <p class="bada" style="color: green;">Strength:-</p>
            {% for advantage in advantages %}
            <br> {{advantage}}
        {% endfor %}
        </div>
        <div class="strenght">
            <p class="bada" style="color: red;">Weakness:-</p>
            {% for disadvantage in disadvantages %}
            <br> {{disadvantage}}
            {% endfor %}

        </div>
    </div>
</body>

</html>