<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/result2.css')}}">
</head>

<body>
    <div class="main">
        <div class="blog" id="q"></div>
        <div class="your">
            <p>
                Your presonality is
            </p>
        </div>
        <div class="main_personality">
            <p>INSJ</p>
        </div>
        <div class="strenght">
            <p>Strenght:-<br> Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Incidunt voluptate quod sapiente
                fugiat reiciendis eum laboriosam<br> explicabo officia aliquid facilis, nostrum<br> distinctio ipsum laudantium,
                rerum ratione sit suscipit culpa recusandae optio excepturi! Perspiciatis, a?</p>
        </div>
        <div class="strenght">
            <p>Weakness:-<br> Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Incidunt voluptate quod sapiente
                fugiat reiciendis eum laboriosam<br> explicabo officia aliquid facilis, nostrum<br> distinctio ipsum laudantium,
                rerum ratione sit suscipit culpa recusandae optio excepturi! Perspiciatis, a?</p>
        </div>
    </div>
</body>

</html>